@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f8;
  @extend %font_regular;
  color: #344054;
}

p {
  margin: 0;
}

.title {
  font-size: 18px;
  color: #344054;
  font-weight: 700;
}
button.show {
  color: #2d47a3;
  background: transparent;
  border: none;
  margin-top: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #d0d5dd;
}

/* header start */
.header {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #ffffff;

  .fa-bars {
    font-size: 24px;
    color: #344054;
    cursor: pointer;
  }

  .my-input-group {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .fa-search {
      position: absolute;
      left: 16px;
      color: #344054;
    }
    .form-control {
      background-color: #f5f6f8;
      padding-left: 42px;
      border: none;
      border-radius: 8px;
    }
  }
}

.my-breadcrumb {
  padding: 6px 16px;
  background-color: #fff;
  .breadcrumb {
    flex-wrap: nowrap;
    overflow: auto;
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    &-item {
      a {
        color: #667085;
        text-decoration: none;
        font-size: 14px;
      }
    }

    &-item.active {
      color: #f24236;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105"; /* Unicode for FontAwesome ">" icon */
      font-family: "Font Awesome 6 Free";
      font-weight: 900; /* Use solid style */
      color: #6c757d; /* Optional: Change color */
      margin-right: 2px; /* Adjust spacing */
    }
  }
}

.my-tabs {
  background-color: #fff;
  padding: 6px 16px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  font-size: 14px;

  .nav-link {
    color: #2f2f2f;
  }
  .nav-link.active {
    color: #f24236;
    font-weight: 600;
  }
}
.my-tabs::-webkit-scrollbar {
  width: 0;
}

.my-carousel {
  padding: 14px 12px;
  .carousel {
    background-color: #fff;
    padding: 16px;
    height: 320px;
    border-radius: 8px;
    .like-btn {
      position: absolute;
      right: 16px;
      cursor: pointer;
      z-index: 10;
      font-size: 22px;
      color: red;
    }
    &-indicators {
      margin-bottom: 0;
      button {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        background-color: #e8eaec !important;

        &.active {
          background-color: #f24236 !important;
        }
      }
    }

    &-inner {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &-item {
      height: 100%;
      height: 90% !important;
      img {
        height: 100% !important;
        object-fit: contain;
      }
    }
  }
}

.info {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;

  h1 {
    font-size: 18px;
    font-weight: 700;
  }

  &__number {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 8px;

    .count {
      font-size: 13px;
      padding: 4px 12px;
      border-radius: 8px;

      &.no {
        background: rgba(251, 151, 144, 0.1);
        color: #f24236;
      }
      &.yes {
        background: rgba(0, 255, 0, 0.08);
        color: #00ec04;
      }
    }

    .code {
      font-size: 13px;
      color: #667085;
    }
  }

  &__price {
    color: #f24236;
    font-size: 22px;
    font-weight: 700;
    margin: 16px 0;
    span {
      font-size: 14px;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    align-items: center;

    .check {
      flex: 1;
      font-weight: 600;
      font-size: 14px;
    }

    .review {
      padding: 8px 16px;
      background: rgba(251, 151, 144, 0.1);
      color: #f24236;
    }
  }
}

.description {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  p {
    height: 155px;
    overflow: hidden;
    font-size: 13px;
  }
}
.characteristics {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 0;

  h4 {
    margin: 0 16px;
  }

  ul {
    list-style: none;
    padding-left: 0 !important;
    margin-top: 14px;
    height: 120px;
    overflow: hidden;
    li {
      padding: 10px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      font-weight: 500;

      &:nth-child(odd) {
        background-color: #f6f8f9;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
      span {
        font-size: 13px;
      }
    }
  }
}

.payment,
.delivery {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;

  ul {
    list-style: none;
    padding-left: 0 !important;
    margin-top: 14px;
    height: 100px;
    overflow: hidden;
    li {
      padding: 4px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      font-weight: 500;
      font-size: 13px;
    }
  }
}
.delivery {
  ul {
    height: 60px;
  }
}

.seller {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  a {
    color: #f24236;
    text-decoration: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    gap: 12px;
    border-radius: 8px;

    &__photo {
      width: 55px;
      min-height: 55px;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      display: flex;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        object-position: center;
      }
    }

    &__address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      b {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        // width: 90%;
        line-height: normal;
        color: #667085;
      }
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 12px;

    div{
      display: flex;
      align-items: center;
      gap: 8px;

      i{
        color: #f24236;
      }
    }
  }

  &__actions{
    display: flex;
    align-items: center;
    gap: 8px;
    button{
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 10px;
    }
    .btn-order{
      background-color: #F2423624;
      color: #f24236;
    }
  }
}

.recommend{
  padding: 0 16px;
  margin-top: 24px;
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      color: #344054;
      font-size: 20px;
    }
  }
}

.check-modal {
  .modal-header {
    background-color: #f5f6f8;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    .intro {
      p {
        color: #667085;
        font-size: 12px;
      }
    }

    .code-checker {
      label {
        font-size: 12px;
        font-weight: 600;
      }
      p {
        font-size: 12px;
        color: #667085;
        span {
          color: #f24236;
        }
      }
    }

    .action {
      padding: 0 12px;
    }
  }
}

.approve-modal {
  .modal-header {
    background-color: #f5f6f8;
  }
  .company {
    background: #f5f6f8;
    padding: 12px;
    display: flex;
    gap: 8px;
    border-radius: 8px;

    &__photo {
      width: 55px;
      min-height: 55px;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      display: flex;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        object-position: center;
      }
    }

    &__info {
      b {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        width: 90%;
        line-height: normal;
      }
    }
  }

  .order {
    margin: 24px 0;
    background: #f5f6f8;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;

    i {
      font-size: 40px;
      color: #32ba7c;
    }
    h4 {
      font-size: 14px;
      font-weight: 700;
      margin: 0;
    }
    p {
      margin: 0;
      color: #667085;
      font-size: 12px;
      width: 80%;
      text-align: center;
    }
  }

  .list-group {
    font-size: 12px;
    &-item {
      display: flex;
      justify-content: space-between;
      border-color: #e8eaed;
      div {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      p,
      a {
        max-width: 60%;
        text-align: right;
      }
      a {
        color: #f24236;
      }
    }
  }

  .action {
    margin-top: 24px;
    padding: 0 12px;
  }
}
