@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 500;
  font-display: swap;
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
body {
  font-family: "Gilroy";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f8;
  color: #344054;
  padding-bottom: 50px;
}

p {
  margin: 0;
}

.title {
  font-size: 18px;
  color: #344054;
  font-weight: 700;
}

button.show {
  color: #2d47a3;
  background: transparent;
  border: none;
  margin-top: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #d0d5dd;
}

/* header start */
.header {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #ffffff;
}
.header .fa-bars {
  font-size: 24px;
  color: #344054;
  cursor: pointer;
}
.header .my-input-group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.header .my-input-group .fa-search {
  position: absolute;
  left: 16px;
  color: #344054;
}
.header .my-input-group .form-control {
  background-color: #f5f6f8;
  padding-left: 42px;
  border: none;
  border-radius: 8px;
}

.my-breadcrumb {
  padding: 6px 16px;
  background-color: #fff;
}
.my-breadcrumb .breadcrumb {
  flex-wrap: nowrap;
  overflow: auto;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.my-breadcrumb .breadcrumb-item a {
  color: #667085;
  text-decoration: none;
  font-size: 14px;
}
.my-breadcrumb .breadcrumb-item.active {
  color: #f24236;
}
.my-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105"; /* Unicode for FontAwesome ">" icon */
  font-family: "Font Awesome 6 Free";
  font-weight: 900; /* Use solid style */
  color: #6c757d; /* Optional: Change color */
  margin-right: 2px; /* Adjust spacing */
}

.my-tabs {
  background-color: #fff;
  padding: 6px 16px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  font-size: 14px;
}
.my-tabs .nav-link {
  color: #2f2f2f;
}
.my-tabs .nav-link.active {
  color: #f24236;
  font-weight: 600;
}

.my-tabs::-webkit-scrollbar {
  width: 0;
}

.my-carousel {
  padding: 14px 12px;
}
.my-carousel .carousel {
  background-color: #fff;
  padding: 16px;
  height: 320px;
  border-radius: 8px;
}
.my-carousel .carousel .like-btn {
  position: absolute;
  right: 16px;
  cursor: pointer;
  z-index: 10;
  font-size: 22px;
  color: red;
}
.my-carousel .carousel-indicators {
  margin-bottom: 0;
}
.my-carousel .carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #e8eaec !important;
}
.my-carousel .carousel-indicators button.active {
  background-color: #f24236 !important;
}
.my-carousel .carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.my-carousel .carousel-item {
  height: 100%;
  height: 90% !important;
}
.my-carousel .carousel-item img {
  height: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.info {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}
.info h1 {
  font-size: 18px;
  font-weight: 700;
}
.info__number {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}
.info__number .count {
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 8px;
}
.info__number .count.no {
  background: rgba(251, 151, 144, 0.1);
  color: #f24236;
}
.info__number .count.yes {
  background: rgba(0, 255, 0, 0.08);
  color: #00ec04;
}
.info__number .code {
  font-size: 13px;
  color: #667085;
}
.info__price {
  color: #f24236;
  font-size: 22px;
  font-weight: 700;
  margin: 16px 0;
}
.info__price span {
  font-size: 14px;
}
.info__actions {
  display: flex;
  gap: 8px;
  align-items: center;
}
.info__actions .check {
  flex: 1;
  font-weight: 600;
  font-size: 14px;
}
.info__actions .review {
  padding: 8px 16px;
  background: rgba(251, 151, 144, 0.1);
  color: #f24236;
}

.description {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}
.description p {
  height: 155px;
  overflow: hidden;
  font-size: 13px;
}

.characteristics {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 0;
}
.characteristics h4 {
  margin: 0 16px;
}
.characteristics ul {
  list-style: none;
  padding-left: 0 !important;
  margin-top: 14px;
  height: 120px;
  overflow: hidden;
}
.characteristics ul li {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 500;
}
.characteristics ul li:nth-child(odd) {
  background-color: #f6f8f9;
}
.characteristics ul li:nth-child(even) {
  background-color: #fff;
}
.characteristics ul li span {
  font-size: 13px;
}

.payment,
.delivery {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}
.payment ul,
.delivery ul {
  list-style: none;
  padding-left: 0 !important;
  margin-top: 14px;
  height: 100px;
  overflow: hidden;
}
.payment ul li,
.delivery ul li {
  padding: 4px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 500;
  font-size: 13px;
}

.delivery ul {
  height: 60px;
}

.seller {
  margin: 12px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.seller a {
  color: #f24236;
  text-decoration: none;
}
.seller__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seller__main {
  display: flex;
  gap: 12px;
  border-radius: 8px;
}
.seller__main__photo {
  width: 55px;
  min-height: 55px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  display: flex;
}
.seller__main__photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -o-object-position: center;
     object-position: center;
}
.seller__main__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seller__main__address b {
  font-size: 14px;
}
.seller__main__address p {
  font-size: 12px;
  line-height: normal;
  color: #667085;
}
.seller__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.seller__info div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seller__info div i {
  color: #f24236;
}
.seller__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seller__actions button {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
}
.seller__actions .btn-order {
  background-color: rgba(242, 66, 54, 0.1411764706);
  color: #f24236;
}

.recommend {
  padding: 0 16px;
  margin-top: 24px;
}
.recommend__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.recommend__header a {
  color: #344054;
  font-size: 20px;
}
.recommend .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.recommend .cards .card {
  position: relative;
  padding-top: 14px;
  border: none;
  border-radius: 8px;
}
.recommend .cards .card .discount {
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: #129a1b;
  color: #fff;
  padding: 4px 10px;
  border-radius: 0 8px 8px 0px;
  font-size: 12px;
}
.recommend .cards .card .like-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  z-index: 10;
  font-size: 22px;
  color: red;
}
.recommend .cards .card .card-img-top {
  width: 90%;
  margin: 0 auto;
}
.recommend .cards .card-body {
  padding: 12px;
}
.recommend .cards .card-body__title {
  font-size: 13px;
  color: #344054;
}
.recommend .cards .card-body__price {
  margin-top: 8px;
  font-size: 18px;
  color: #f24236;
  font-weight: 700;
  margin-bottom: 0;
}
.recommend .cards .card-body__price span {
  font-size: 14px;
}
.recommend .cards .card-body__count {
  font-size: 12px;
}
.recommend .cards .card-body__count.yes {
  color: #129a1b;
}
.recommend .cards .card-body__count.no {
  color: #f24236;
}
.recommend .cards .card-body__count.order {
  color: #fac102;
}
.recommend .cards .card-footer {
  background: #fff;
  border-color: #f6f8f9;
}
.recommend .cards .card-footer h4 {
  font-size: 14px;
  margin-bottom: 0px;
}
.recommend .cards .card-footer p {
  font-size: 12px;
  color: #667085;
}

.tags {
  margin-top: 24px;
  padding: 0 16px;
}
.tags__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tags__header a {
  color: #344054;
  font-size: 20px;
}
.tags__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags__body button {
  flex: 1 1;
  font-size: 12px;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 12px;
}

.check-modal .modal-header {
  background-color: #f5f6f8;
}
.check-modal .modal-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
.check-modal .modal-body .intro p {
  color: #667085;
  font-size: 12px;
}
.check-modal .modal-body .code-checker label {
  font-size: 12px;
  font-weight: 600;
}
.check-modal .modal-body .code-checker p {
  font-size: 12px;
  color: #667085;
}
.check-modal .modal-body .code-checker p span {
  color: #f24236;
}
.check-modal .modal-body .action {
  padding: 0 12px;
}

.approve-modal .modal-header {
  background-color: #f5f6f8;
}
.approve-modal .company {
  background: #f5f6f8;
  padding: 12px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
}
.approve-modal .company__photo {
  width: 55px;
  min-height: 55px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  display: flex;
}
.approve-modal .company__photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -o-object-position: center;
     object-position: center;
}
.approve-modal .company__info b {
  font-size: 14px;
}
.approve-modal .company__info p {
  font-size: 12px;
  width: 90%;
  line-height: normal;
}
.approve-modal .order {
  margin: 24px 0;
  background: #f5f6f8;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.approve-modal .order i {
  font-size: 40px;
  color: #32ba7c;
}
.approve-modal .order h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.approve-modal .order p {
  margin: 0;
  color: #667085;
  font-size: 12px;
  width: 80%;
  text-align: center;
}
.approve-modal .list-group {
  font-size: 12px;
}
.approve-modal .list-group-item {
  display: flex;
  justify-content: space-between;
  border-color: #e8eaed;
}
.approve-modal .list-group-item div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.approve-modal .list-group-item p,
.approve-modal .list-group-item a {
  max-width: 60%;
  text-align: right;
}
.approve-modal .list-group-item a {
  color: #f24236;
}
.approve-modal .action {
  margin-top: 24px;
  padding: 0 12px;
}/*# sourceMappingURL=style.css.map */